<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Mini Message Board</title>
		<link rel="stylesheet" href="/styles.css">
	</head>
	<body>
		<% if (user) { %>
			<h1>Wlcm <%= user.first_name %></h1>
			<a href="/post">
				<button>Create a new post!</button>
			</a>
			<a href="/auth/join-the-club">
				<button>Become a member!</button>
			</a>
			<a href="/auth/log-out">
				<button>Log Out</button>
			</a>
			<% posts.forEach((post) => { %>
				<div class="postCont">
					<h2><%= post.title %>:</h2>
					<p><%= post.text %></p>
					<p><%= post.added %></p>
					<% if (post.member) { %>
						<p>Member</p>
					<% } %>
					<% if (post.admin) { %>
						<p>Admin</p>
					<% } %>
				</div>
			<% }) %>
		<% } else { %>
			<h1>Hello There!</h1>
			<p>Please log-in or register to view user posts.</p>
			<a href="/auth/log-in">
				<button>Log In</button>
			</a>
			<a href="/auth/sign-up">
				<button>Register</button>
			</a>
		<% } %>
	</body>
</html>