<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Members only</title>
		<link rel="stylesheet" href="/styles.css">
	</head>
	<body>
		<div class="pageWrapper">
			<div class="pageCont">
				<h1 class="welcome">Wlcm</h1>
				<div class="authCont">
					<p class="loginText">Login or register to create posts!</p>
					<div>
						<a href="/auth/log-in">
							<button>Log In</button>
						</a>
						<a href="/auth/sign-up">
							<button>Register</button>
						</a>
					</div>
				</div>
				<% posts.forEach((post) => { %>
					<%- include('partials/displayPost', { post, user: null }) %>
				<% }) %>
			</div>
		</div>
	</body>
</html>