<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Members only</title>
		<link rel="stylesheet" href="/styles.css">
	</head>
	<body>
		<div class="indexPageWrapper">
			<div class="indexPageCont">
				<div class="userWrapper">
					<div class="userCont">
						<h1>Wlcm <%= user.first_name %></h1>
						<p class="userStatus">Member</p>
					</div>
					<a href="/auth/log-out">
						<button class="logoutBtn">Log out</button>
					</a>
				</div>
				<a href="/post">
					<button class="newPostBtn">Create a new post!</button>
				</a>
				<% posts.forEach((post) => { %>
					<%- include('partials/displayPost', { post, user }) %>
				<% }) %>
			</div>
		</div>
	</body>
</html>